.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.myDiv {
  width: 500px;
  height: 150px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myDiv img {
  height: 100%;
  width: 100%;
}
